@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: 'Montserrat', sans-serif !important;
    background-image: url(https://source.unsplash.com/1600x900/?kyoto,night);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 105%;
}
.card {
    text-align: center;
    background: #000000d0;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;


}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    outline: none;
    height: 44px;
    width: 44px;
    background-color: #9f9f9f2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
button:hover {
    background: #9f9f9f4b;
}
input#search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background-color: #9f9f9f2b;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
    width: calc(100% - 80px);
}
input.placeholder {
    color: black;
}
h1.temp {
    margin: 0;
}
#changeTemp {
    margin: 0;
    position: absolute;
    top: 95%;
    left: 47%;
    transform: translate(-50%, -50%);
    width: 50px;
}
#changeTemp2 {
    margin: 0;
    position: absolute;
    top: 95%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 50px;
}
.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    padding: 12px 16px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 12px;
    top: 95%;
}
  .alert.alert-warning {
    background-color: rgba(252, 248, 227, 1);
    border-color: rgba(177, 161, 129, 1);
    color: rgba(138, 109, 59, 1);
  }

#setdefaultCookie {
    margin: 0;
    position: absolute;
    top: 95%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 90px;
}